<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bibodha.magnetfactory"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/magnet_left"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MagnetFactory"
            android:label="@string/title_activity_magnet_factory" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="NewGame" android:label="New Game"></activity>
        <activity android:name="HowToPlay" android:label="how to play"></activity>
        <activity android:name="Stats" android:label="stats"></activity>
    </application>

</manifest>